In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf
from tensorflow import keras
from keras.models import Model
from keras import Input
from keras import layers
from keras.layers import Flatten, Dense ,Embedding
from keras.optimizers import Adam
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings('ignore')

In [6]:
df_R = pd.read_csv('C:/work/ml-25m/ratings.csv')
df_M = pd.read_csv('C:/work/ml-25m/movies.csv')

In [7]:
df_R

          userId  movieId  rating   timestamp
0              1      296     5.0  1147880044
1              1      306     3.5  1147868817
2              1      307     5.0  1147868828
3              1      665     5.0  1147878820
4              1      899     3.5  1147868510
...          ...      ...     ...         ...
25000090  162541    50872     4.5  1240953372
25000091  162541    55768     2.5  1240951998
25000092  162541    56176     2.0  1240950697
25000093  162541    58559     4.0  1240953434
25000094  162541    63876     5.0  1240952515

[25000095 rows x 4 columns]

In [8]:
df_M

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
62418,209157,We (2018),Drama
62419,209159,Window of the Soul (2001),Documentary
62420,209163,Bad Poems (2018),Comedy|Drama
62421,209169,A Girl Thing (2001),(no genres listed)
62422,209171,Women of Devil's Island (1962),Action|Adventure|Drama

In [9]:
df_M.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62423 entries, 0 to 62422
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  62423 non-null  int64
 1   title    62423 non-null  object
 2   genres   62423 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.4+ MB

In [10]:
df = pd.merge(df_R,df_M,how= 'left',on = 'movieId')

In [11]:
df

,userId,movieId,rating,timestamp,title,genres
0,1,296,5.0,1147880044,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
1,1,306,3.5,1147868817,Three Colors: Red (Trois couleurs: Rouge) (1994),Drama
2,1,307,5.0,1147868828,Three Colors: Blue (Trois couleurs: Bleu) (1993),Drama
3,1,665,5.0,1147878820,Underground (1995),Comedy|Drama|War
4,1,899,3.5,1147868510,Singin' in the Rain (1952),Comedy|Musical|Romance
...,...,...,...,...,...,...
25000090,162541,50872,4.5,1240953372,Ratatouille (2007),Animation|Children|Drama
25000091,162541,55768,2.5,1240951998,Bee Movie (2007),Animation|Comedy
25000092,162541,56176,2.0,1240950697,Alvin and the Chipmunks (2007),Children|Comedy
25000093,162541,58559,4.0,1240953434,"Dark Knight, The (2008)",Action|Crime|Drama|IMAX
25000094,162541,63876,5.0,1240952515,Milk (2008),Drama

In [12]:
df.describe()

             userId       movieId        rating     timestamp
count  2.500010e+07  2.500010e+07  2.500010e+07  2.500010e+07
mean   8.118928e+04  2.138798e+04  3.533854e+00  1.215601e+09
std    4.679172e+04  3.919886e+04  1.060744e+00  2.268758e+08
min    1.000000e+00  1.000000e+00  5.000000e-01  7.896520e+08
25%    4.051000e+04  1.196000e+03  3.000000e+00  1.011747e+09
50%    8.091400e+04  2.947000e+03  3.500000e+00  1.198868e+09
75%    1.215570e+05  8.623000e+03  4.000000e+00  1.447205e+09
max    1.625410e+05  2.091710e+05  5.000000e+00  1.574328e+09

In [13]:
df.isnull().sum().sum()

0

In [14]:
y = df['rating']
y

0           5.0
1           3.5
2           5.0
3           5.0
4           3.5
           ...
25000090    4.5
25000091    2.5
25000092    2.0
25000093    4.0
25000094    5.0
Name: rating, Length: 25000095, dtype: float64

In [15]:
X_train, X_test, Y_train, Y_test = train_test_split(df, y,stratify=df.rating, test_size=0.3)

In [16]:
X_train

,userId,movieId,rating,timestamp,title,genres
14014836,90823,3753,4.0,1428782095,"Patriot, The (2000)",Action|Drama|War
8676879,56509,385,3.0,862439986,"Man of No Importance, A (1994)",Drama
8963500,58402,1923,3.5,1419145049,There's Something About Mary (1998),Comedy|Romance
15372991,99614,36,4.0,939146174,Dead Man Walking (1995),Crime|Drama
10086487,65427,150,3.0,1028312054,Apollo 13 (1995),Adventure|Drama|IMAX
...,...,...,...,...,...,...
4918186,32067,88744,0.5,1421437978,Rise of the Planet of the Apes (2011),Action|Drama|Sci-Fi|Thriller
7855065,51030,4468,5.0,1301872114,Apartment Zero (1988),Drama|Thriller
5155191,33494,8865,4.0,1097461075,Sky Captain and the World of Tomorrow (2004),Action|Adventure|Sci-Fi
23234249,150864,2763,2.5,1400548775,"Thomas Crown Affair, The (1999)",Action|Mystery
9273172,60433,509,4.5,1497926299,"Piano, The (1993)",Drama|Romance

In [17]:
X_test

,userId,movieId,rating,timestamp,title,genres
6811535,44122,2018,5.0,1325370890,Bambi (1942),Animation|Children|Drama
1465651,9802,1210,5.0,946525061,Star Wars: Episode VI - Return of the Jedi (1983),Action|Adventure|Sci-Fi
11993743,77801,4011,4.0,1510210883,Snatch (2000),Comedy|Crime|Thriller
488673,3355,33615,4.0,1502735076,Madagascar (2005),Adventure|Animation|Children|Comedy
9823758,63771,3385,3.0,979964253,Volunteers (1985),Comedy
...,...,...,...,...,...,...
13138340,85082,173,2.5,1206539580,Judge Dredd (1995),Action|Crime|Sci-Fi
13085464,84713,3022,4.0,1111166722,"General, The (1926)",Comedy|War
10896848,70718,1105,3.0,861363803,Children of the Corn IV: The Gathering (1996),Horror
12393103,80252,345,3.5,1077029911,"Adventures of Priscilla, Queen of the Desert, ...",Comedy|Drama
13225351,85640,1376,3.0,945477557,Star Trek IV: The Voyage Home (1986),Adventure|Comedy|Sci-Fi